<% if association_objects_in_editing_mode && association_objects_in_editing_mode[:label_relations].any? %>
  <%= alert(:notice, :header => t("txt.common.referenced_labels")) do %>
    <ul>
      <% association_objects_in_editing_mode[:label_relations].each do |label_relation| %>
        <li>
          <%= label_relation.class.model_name.human %>
          <%= link_to(label_relation.range.value,
            label_path(:published => 0, :id => label_relation.range)) %>
          <%= t("txt.common.editor") %> <%= user_details(label_relation.range.locking_user) %>
        </li>
      <% end %>
    </ul>
  <% end # alert %>
<% end # if %>
