<%= bootstrap_form_for label,
  :as => :label,
  :url => label.new_record? ? labels_path : label_path(:id => label, :published => 0),
  :layout => :horizontal do |f| %>

  <fieldset id="label_base_data">
    <legend><%= t("txt.common.attributes") %></legend>
    <%= f.text_field :value, data: {
      'query-url': labels_path(:format => :json),
      'entity-uri' => label_path(:id => '{id}'),
      'duplicate-message': t("txt.common.duplicate_labels")
    } %>

    <%= f.select :language, Iqvoc.all_languages %>

    <% if Iqvoc::XLLabel.has_additional_base_data %>
      <%= render 'partials/label/additional_base_data', :f => f %>
    <% end %>

    <%= f.text_field :follow_up, :class => 'datepicker' %>
    <%= f.text_field :expired_at, :class => 'datepicker' %>
  </fieldset>

  <% if Iqvoc::XLLabel.relation_classes.any? %>
  <fieldset>
    <legend><%= Label::Relation::SKOSXL::Base.model_name.human(:count => 2) %></legend>
      <% Iqvoc::XLLabel.relation_classes.each do |relation_class| %>
        <%= render relation_class.edit_partial_name(label), :f => f, :label => label, :klass => relation_class %>
      <% end %>
  </fieldset>
  <% end %>

  <% Iqvoc::XLLabel.additional_association_classes.keys.each do |association_class| %>
    <fieldset>
      <legend><%= association_class.model_name.human(:count => 2) %></legend>
      <%= render association_class.edit_partial_name(label), :label => label, :klass => association_class, :f => f %>
    </fieldset>
  <% end %>


  <% Iqvoc::XLLabel.note_classes.each do |note_class| %>
    <% unless note_class.edit_partial_name(label).nil? %>
      <%= render note_class.edit_partial_name(label), :owner_klass => label, :assoc_klass => note_class, :f => f %>
    <% end %>
  <% end %>

  <hr />

  <div class="well">
    <%= f.submit t("txt.common.save"), :class => 'btn btn-primary' %>
    <%= link_to t("txt.common.cancel"), label.new_record? ? dashboard_path : label_path(:id => label, :published => 0), :class => "btn btn-default" %>
  </div>
<% end %>
