<%= content_tag :div, :class => "relation translation panel", :lang => (lang if defined?(concept)) do %>
  <% if defined?(concept) %>
    <h2><%= klass.model_name.human(:count => 2) %> <small><%= "#{t("languages.#{lang}", :default => lang.to_s)}" %></small></h2>
    <div class="relation-body">
      <%= item_listing(concept.labels_for_labeling_class_and_language(klass, lang.to_s)) do |label|
        link_to label.value, label_path(:id => label)
      end
    %>
    </div>
  <% elsif defined?(label) %>
    <h2><%= klass.model_name.human %> <%= t("txt.common.of") %></h2>
    <div class="relation">
      <%= item_listing(label.concepts_for_labeling_class(klass)) do |c|
        link_to c.to_s, concept_path(:id => c)
      end
    %>
    </div>
  <% end %>
<% end %>
